@model KullaniciOlusturmaModeli

<h2 class="center-form">Kay覺t Ol</h2>
<hr class="center-form"/>
<form asp-controller="Hesap" asp-action="Ekle" method="post" class="center-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="UserName" class="control-label">Kullan覺c覺 Ad覺</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="control-label">E-posta</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="control-label">Parola</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
        <div class="mb-3">
        <label asp-for="ConfirmPassword" class="control-label">Parola Tekrar</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"  style="float:right;">Kaydet</button>
    </div>
</form>

<style>
    .center-form {
    margin: 0 auto;
    width: 20%;
}
</style>