@model GirisModeli

<h2>Giriş Yap</h2>
<hr />
<form asp-action="Giris" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Eposta" class="control-label">E-posta</label>
        <input asp-for="Eposta" class="form-control" />
        <span asp-validation-for="Eposta" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Parola" class="control-label">Parola</label>
        <input asp-for="Parola" class="form-control" />
        <span asp-validation-for="Parola" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">

        <input asp-for="BeniHatirla" class="form-check-input" />
        <label asp-for="BeniHatirla" class="form-check-label">Beni Hatırla</label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>
</form>