<h2>Parolamı Unuttum</h2>
<hr />
<form asp-action="ParolamiUnuttum" method="post">
    <div class="mb-3">
        <label for="Eposta" class="control-label">E-posta</label>
        <input name="Eposta" type="Email" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gönder</button>
    </div>
</form>